* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "TT Commons" !important;
	font-weight: 400 !important;
}

.sidebar {
	box-shadow: 0 6px 58px rgba(#c4cbd6, 0.1);
}

html.dark {
	.tableBody tr:nth-child(odd) {
		background-color: #15161C;
	}
	.tableBody tr:nth-child(even) {
		background-color: #18191F;
	}
	.tableBody tr td:first-child {
		color: white;
	}
	.tableBody tr td:nth-child(2) {
		color: #08923d;
	}
	.tableBody tr td:nth-child(3) {
		color: #ff3d00;
	}
	.tableBody tr td:nth-child(4) {
		color: #08923d;
	}
	.tableBody tr td:nth-child(5) {
		color: #08923d;
	}
	.tableBody tr td:nth-child(6) {
		color: #676666;
	}
	.tableBody tr td:nth-child(7) {
		color: #676666;
	}
	.search-input::placeholder{
    color: white !important;
	}
}
.tableBody tr:nth-child(odd) {
	background-color: #ffffff;
}
.tableBody tr:nth-child(even) {
	background-color: #eeeeee;
}

.tableData th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	font-size: 17px;
	padding: 28px 18px;
}
.tableData td {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	color: #393737;
	font-size: 17px;
	padding: 28px 18px;
}
